.container1{
    display: flex;
    background-color: black;
    color: white;
    padding-top: 10px;
    height: 40px;
}
.col1{
    display: flex;
    margin-left: 100px;
    gap: 10px;
}
.col2{
    display: flex;
    margin-left: 700px;
    gap: 5px;
}
.col3{
    display: flex;
    margin-right: 50px;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }

.navbar-nav{
    margin-left: 200px;
    gap: 40px;
}
.container2{
    font-size: 20px;
}
.navbar-brand{
    font-size: 40px;
    color: green;
}
.container3{
    display: flex;
    gap: 10px;
}
.carousel-item{
    color: black;
}
.images{
    width: 100%;
    border-radius: 75%;
}
h2{
    font-size: 25px;
    padding-top: 20px;
}
button{
    width: 110px;
    height: 40px;
    border-style: none;
    background-color: rgb(11, 182, 11);
    margin-top: 10px;
    color: white;
}
.row2{
    margin-top: 100px;
}
.card-container{
    display: flex;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.card-container2{
    margin-left: 130px;
}
.card-body{
    text-align: start;
    margin-top: -30px;
}
.main-container{
    background-color: azure;
    margin-top: 100px;
}
.row3{
    margin-left: 40px;
}
.card1-h{
    padding-top: 30px;
}
.card1-p{
    padding-bottom: 30px;
    padding-top: 10px;
}

.col3{
    text-align: start;
    margin-left: 20px;
}

.row4{
    margin-top: 100px;
    color: rgb(156, 153, 153);
    padding-top: 20px;
}
.container4{
    background-color: rgb(32, 32, 32);
    padding-bottom: 40px;
}
.g-head{
    color: green;
}
.col4{
    color: rgb(156, 153, 153);
    font-size: 30px;
    margin-left: -60px;
}
input{
    background-color: rgb(32, 32, 32);
    border-color: rgb(156, 153, 153);
    height: 40px;
    width: 40%;
}
.set-p{
    padding-top: 30px;
}
.col5{
    padding-top: 180px;
    text-align: start;
    margin-left: 95px;
}
.container5{
    background-color: rgb(107, 218, 107);
    color: white;
}
.container7{
    display: flex;
    gap: 140px;
    margin-top: 70px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
   
}
.container7 i{
    font-size: 50px;
    padding-bottom: 20px;
}
.cards{
    background-color: aliceblue;
    padding-top: 45px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.20);
}
.cards p{
    font-size: 20px;
}
.container7 .cards:hover{
    background-color: rgb(73, 212, 73);
    color: white;
}
.container9{
    text-align: center;
    background-color: rgb(219, 236, 236);
    padding-top: 25px;
    padding-bottom: 50px;
}
.container11{
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 20px;    
}
.forms{
    width: 450px;
    background-color: white;
    border-color: lightgrey;
    margin-bottom: 15px;
    
}
.forms-main{
    width: 930px;
    background-color: white;
     border-color: lightgrey;
     margin-bottom: 20px;
}
.h3{
    padding-top: 10px;
}
.height{
    height: 100px;
}
.btn{
    margin-right: 20px;
}
